[Service]
ExecStart=%h/indieauth/indieauth
ExitType=main
Group=ubuntu
PermissionsStartOnly=true
Restart=always
RestartSec=1
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=indieauth
Type=simple
WorkingDirectory=%h/indieauth

[Unit]
Description=Personal IndieAuth server instance
Documentation=https://indieauth.net/source/
StartLimitBurst=5
StartLimitIntervalSec=0

[Install]
Alias=indieauth
WantedBy=multi-user.target
