[Unit]
Description=Personal IndieAuth server instance
Documentation=https://indieauth.net/source/
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=indieweb
Group=indieweb
WorkingDirectory=/var/lib/indieauth/
ExecStart=/usr/local/bin/indieauth --config=/etc/indieauth/config.yml
Restart=always

[Install]
Alias=indieauth
WantedBy=multi-user.target