[Unit]
Description=IndieAuth

[Service]
ExecStart=%h/indieauth/indieauth
Group=%u
PermissionsStartOnly=true
Restart=always
RestartSec=5s
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=indieauth
Type=simple
WorkingDirectory=%h/indieauth

[Install]
WantedBy=multi-user.target